NEXT_PUBLIC_API_BASE_URL=/api/v1
API_PROXY_ORIGIN=http://127.0.0.1:4000
PUBLIC_BASE_DOMAIN=lvh.me
PUBLIC_WEB_ORIGIN=http://lvh.me:3000
PUBLIC_GAME_SUBDOMAINS=lucdia,hoalong,thitranmay,orion
ALLOW_GAME_SUBDOMAINS=true
NEXT_PUBLIC_DISCORD_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_TIKTOK_URL=
