node_modules
.pnpm-store
dist
.next
.next-dev
.next-e2e
.next-release
coverage
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
apps/web/next-env.d.ts
docker-data
playwright-report
test-results
.turbo
.DS_Store
*/.DS_Store
